body 
{
	width: 420px;
	height: 361px;
	font-family: Segoe UI;
    -webkit-user-select: none;
    background: repeat url(../images/gray_gradient.png) 0 0;
}

#ProgressBar,
.ui-jqgrid-bdiv
{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ui-jqgrid-bdiv
{
    background-image: url(../images/washed_logo.png);
}
.ui-menu .ui-menu-item a
{
    font-size: 12px !important;
    white-space: nowrap;
}
.disabled
{
	cursor: default !important;
}

.ui-jqgrid tr.jqgrow td
{
    border-bottom-width: 0px;
    padding-bottom: 1px;
}

#songUrlInput
{
    width: 306px;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	border-width: 1px !important;
}

#songUrlInput::-webkit-input-placeholder
{
    color: Gray;
    font-weight: bold;
}

#ProgressBar
{
    height: 10px;
}

#Controls
{
	height: 24px;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-top: 4px;
}

#Controls img
{
	padding-top: 2px;
	padding-bottom: 0px;
	padding-left: 5px;
	padding-right: 5px;
	float: left;
}
#Controls img:hover
{
	cursor: pointer;
}

#Controls .seperator
{
	margin-top: -3px;
	padding-top: 0px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 0px;
	float: left;
	color: #0B3E6F;
}

.colored
{
	color: #0B3E6F;
}

#VolumeSlider
{
	height: 5px;
	width: 80px;
	display: none;
	float: left;
	margin-top: 6px;
	margin-right: 5px;
}

.ui-slider .ui-slider-handle
{
	width: .6em !important;
	height: .6em !important;
	top: -4px !important;
}

.SongIcon
{
    margin-bottom: -2px;
}   

#SongGrid
{ 
	font-size: 11px !important;
}

.ui-jqgrid
{
    border-top-width: 0px !important;
    border-bottom: 1px !important;
    border-left-width: 1px !important;
    border-right-width: 1px !important;
}

.ui-jqgrid-bdiv
{
    overflow: hidden !important;
}

.ui-jqgrid-titlebar
{
    display: none !important;
}

.ui-jqgrid-labels
{
	font-size: 14px;
}

.ui-progressbar-value,
.playingBackground
{
	background-image: url(../images/green_diagonals.png) !important;
}

.pausedBackground
{
	background-image: url(../images/yellow_diagonals.png) !important;
}

#CurrentTimeLabel,
#TotalTimeLabel
{
	float: left;
	font-size: 10pt;
	font-weight: bold;
    color: #0B3E6F;
}

#SettingsDialog,
#ConfirmSearchDialog
{
    display: none;
}

#tabs
{
    height: 291px;
    display: none;
    margin-bottom: 3px;
}

#Header
{
    width: 100%;
	font-size: 17px;
	margin-bottom: 5px;
	border-radius: 5px;
    overflow: hidden;
    height: 23px;
}

#pauseIcon
{
	display: none;
}

#HeaderTitle
{    
    white-space: nowrap; 
	padding-left: 5px;
	font-weight: bold;
	color: #0B3E6F;
    -webkit-user-select: text;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected
{
    border-top-width: 0px;
    border-right-width: 0px;
}

/* Vertical Tabs
----------------------------------*/
.ui-tabs .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border-width: 0px !important}
.ui-tabs .ui-tabs-nav { padding: .0em .1em 0 !important; border: 0px !important;}
.ui-tabs { padding-bottom: 0px !important; }
.ui-tabs-vertical { font-size: 80% !important;}
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 7em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 0; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding-left: 0px !important; padding-bottom: 0 !important; padding-right: 0 !important; padding-top: 0em !important; float: right;}