body 
{
	width: 420px;
	height: 400px;
	border-radius: 5px;
	font-family: Segoe UI;
	border: 0px !important;
}

.disabled
{
	cursor: default !important;
}

#songUrlInput
{
    width: 300px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
	margin-top: 0px;
}

#songUrlInput::-webkit-input-placeholder
{
    color: #0B3E6F;
    font-weight: bold;
}

a.clicktip
{
    text-decoration: none;
}

#Controls
{
    border: 2px solid #0B3E6F;
    border-radius: 5px;
	padding: 4px 0px 0px 4px;
	height: 24px;
}

#Controls img
{
	padding-top: 2px;
	padding-bottom; 0px;
	padding-left: 5px;
	padding-right: 5px;
	float: left;
}
#Controls img:hover
{
	cursor: pointer;
}

#Controls .seperator
{
	margin-top: -3px;
	padding-top: 0px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 0px;
	float: left;
	color: #0B3E6F;
}

.colored
{
	color: #0B3E6F;
}

#VolumeSlider
{
	height: 6px;
	width: 60px;
	display: none;
	float: left;
	margin-top: 6px;
	margin-right: 5px;
}

.ui-slider .ui-slider-handle
{
	width: .6em !important;
	height: .6em !important;
	top: -4px !important;
}

.SongIcon
{
    margin-bottom: -2px;
}   

#SongGrid
{ 
    -webkit-user-select: none;
	font-size: 11px !important;
}

.ui-jqgrid,
.ui-tabs
{
    border-width: 0px !important;
}

.ui-jqgrid-bdiv
{
    overflow: hidden !important;
}

.ui-jqgrid-titlebar
{
    display: none !important;
}

.ui-jqgrid-labels
{
	font-size: 14px;
}

#ProgressHeader,
.ui-jqgrid-title,
.ui-jqgrid-titlebar
{
    border-radius: 5px;
}

.ui-jqgrid .ui-jqgrid-titlebar
{
    padding: 0px !important;
}

.playingBackground
{
	background-image: url(dot-luv/images/playing_background_faded.png) !important;
}

.pausedBackground
{
	background-image: url(dot-luv/images/paused_background_faded.png) !important;
}

.idleBackground
{
	background-image: url(dot-luv/images/wbg.png) !important;
}

#CurrentTime
{
	float: left;
	font-size: 10pt;
	font-weight: bold;
}

#TotalTime
{
	float: left;
	font-size: 10pt;
	font-weight: bold;
	color: #0B3E6F;
}

#SettingsDialog,
#ConfirmSearchDialog
{
    display: none;
}

#tabs
{
    height: 360px;
    display: none;
}



#Header
{
    width: 100%;
	font-size: 15px;
	margin-bottom: 5px;
	border-radius: 5px;
    overflow: hidden;
    height: 25px;
}

#HeaderTitle
{    
    white-space: nowrap; 

	padding-left: 5px;
	font-weight: bold;
	color: White;
}

/* Vertical Tabs
----------------------------------*/
.ui-tabs-vertical { width: 49em; font-size: 80% !important;}
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 7em }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding-left: 0px !important; padding-bottom: 1em !important; padding-right: 1em !important; padding-top: 0em !important; float: right; width: 40em;}